.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  line-height: 100%;
}
.miss {
  pointer-events: none;
  font-size: 5rem;
}
.ship {
  pointer-events: none;
  svg {
    display: inline-block;
    width: 40px;
  }
}
.damageWrapper {
  pointer-events: none;
  width: 70%;
  height: 70%;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.color {
    background-color: rgba(grey, 0.5);
}
