.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.activeShoot {
    outline: 3px solid greenyellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: darkslateblue;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
